@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 1px;
    padding: 0;
    font-family: Fira Sans;
}
/* shared styles */
   h2{
    font-size: 30px;
    font-weight: 700;
     }
   p {
    font-size: 12px;
    color: rgba(14, 14, 14, 0.7);
     }


.header {
    background-color: rgb(242, 242, 242);
    border: 2px solid rgb(242, 242, 242);
}

main {
    background-color: rgb(242, 242, 242);
}
   nav { 
      margin: 25px 50px ;
      display: flex;
      justify-content: space-between;
     }
       nav > h3 {
           font-size: 28px;
           font-weight: 700;
             }
       nav > button {
           padding: 10px 15px;
           background-color: rgb(0, 106, 80);
           color: white;
           border: 1px solid rgb(0, 106, 80);
           border-radius: 5px;
           font-size: 12px;
           cursor: pointer;
           }
.banner { 
     background-color: rgb(198, 228, 214);
     border: 1px solid transparent;
     border-radius: 25px;
     width: 1150px;
     height: 450px;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     }
    .b-heading {
       padding: 100px 50px;
     }
    .b-heading > p {
    color: rgba(14, 14, 14, 0.5);
    font-size: 20px;
    font-weight: 500;
     } 
    .b-heading > h1 {
    font-size: 45px;
    font-weight: 700;
    padding: 15px 0;
}
    .b-heading > button {
    padding: 10px 15px;
    background-color: rgb(0, 106, 80);
    color: white;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 5px;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}
   .b-content > img  {
    width: 400px;
    height: 300px;
    padding: 75px 50px;
   }
.pillars {
    width: 1150px;
    margin: 50px auto;
}
   .p-heading {
    padding: 15px 0;
}
   .p-content {
   display: flex;
   justify-content: space-between;    
} 
   .pillar-box > h4 {
   padding: 10px 0;
}
   .pillar-box > p {
    padding: 10px 0;
 }
   .pillar-box {
    background-color: white;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 15px;
    width: 250px;
    height: 230px;
    padding: 15px;
}
.visions {
    width: 1150px;
    margin: 50px auto;
}
   .v-heading > p {
    padding: 15px 0;
}
   .v-content{
    display: flex;
    justify-content: space-between;
}
   .vision-box{
    background-color:rgb(198, 228, 214) ;
    width: 320px;
    height: 240px;
    padding: 25px;
    border-radius: 20px;
}
   .vision-box > h4 {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
}
   .vision-box > p {
    padding: 10px 0;
}
   .vision-box > button {
    padding: 10px 15px;
    background-color: rgb(0, 106, 80);
    color: white;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 5px;
    font-size: 12px;
    margin-top: 30px;
    cursor: pointer;
}
.quote {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    width: 1150px;
    margin: 50px auto;
    padding: 30px 25px;
}
   .q-title {
    margin-top: 15px;
}
   .q-title p{
    padding: 5px 0;
}
.opinion {
    width: 1150px;
    margin: 50px auto;
}
   .op-heading {
    padding: 15px 0;
}
   .op-content {
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: white;
    padding: 25px;
}
table {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
}
    th ,td  {
    border: 1px solid rgb(175, 175, 175);
    padding: 20px 20px;
    text-align: left;
}
    th{
    background-color: rgb(198, 228, 214);
}
    select {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(198, 228, 214);
}

.news {
    width: 1150px;
    margin: 50px auto;
}
    .n-heading > p  {
    padding: 15px 0;
}
    .n-content {
    
}
    .newsbox {
    background: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 25px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    margin: 12px;
}
    .news-L >img {
    border: 1px solid transparent;
    border-radius: 20px;
    width: 360px;
    height: 240px;
}
    .news-R {
    padding-left: 20px;
}
    time {
    font-size: 12px;
    color: rgba(14, 14, 14, 0.7);
}
    .news-R >h3 {
    font-size: 26px;
    font-weight: 700;
}
    .news-R > p {
    padding: 10px 0;
}
    .news-R > button {
    padding: 10px 15px;
    margin: 10px 0;
    background-color: rgb(0, 106, 80);
    color: white;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
   .news-R img {
    width: 110px;
    height: 35px;
}
.donate {
    width: 1150px;
    margin: auto;
    text-align: center;
}
    .d-heading > p{
    padding: 10px;
}
    .donate-box{
    padding: 10px;
    display: flex;
    justify-content: center;
}
    .d-btn {
    padding: 2px 10px;
}
    .donate-box button {
    padding: 20px;
    font-size: 26px;
    font-weight: 500;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
}
    .d-btn :hover {
    background-color:rgb(198, 228, 214) ;
    /* color: white; */
}
    .donate-more > input {
    padding: 10px 200px;
    margin: 13px;
    border: 1px solid white;
}
    .donate-more >button {
    padding: 10px 15px;
    background-color: rgb(0, 106, 80);
    color: white;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}
.subscribe {
    border: 1px solid rgb(198, 228, 214) ;
    border-radius: 20px;
    background: rgb(198, 228, 214);
    width: 1150px;
    margin: 50px auto;
    text-align: center;
    padding-bottom: 50px;
}
    .sub-heading {
    margin-top: 50px;
}
    .sub-heading > h2 {
    font-size: 30px;
}
    .sub-heading > p {
    padding: 10px;
    font-size: 12px;
    color: rgba(14, 14, 14, 0.7);
}
    .sub-content {
    padding: 10px;
    display: flex;
    justify-content: center;
    
}
    .sub-content input {
    margin: 0;
    padding: 10px;
    padding-right: 280px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid white; 
    border-right: none;

}
    .sub-content button {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0;
    color: white;
    background-color: rgb(0, 106, 80);
    border: 1px solid rgb(0, 106, 80);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
    .subscribe > p {
    padding: 10px;
    padding-bottom: 50px;
    font-size: 12px;
    color: rgba(14, 14, 14, 0.7);
}
footer {
    margin-top: 50px;
    text-align: center;
}
    .f-heading {
    padding: 25px;
}
    .f-content {
    padding: 25px;
}
    hr {
    color: 1px solid rgba(203, 203, 203, 0.715);
}
    .f-content img {
    height: 20px;
    width: 20px;
    padding: 10px;
}
